@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-family: 'Pixel Emulator', 'Press Start 2P', Courier new, monospace;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
.ff7{
  background-color: #282880;
  box-shadow: 0 0 0 1px #c8e0e0,
    0 0 0 2px #808080,
    0 0 0 3px #283030,
    inset 0 0 0 1px #303088;
  border-radius: 5px;
  padding: 5px;
}
#parchment {
	width: 844px;
    height: 364px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -422px;
    margin-top: -182px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
}
#createcharacter {
	color: #f8f8f8;
}
.startgame {
	cursor: pointer;
	cursor: hand;
}
