@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-family: 'Pixel Emulator', 'Press Start 2P', Courier new, monospace;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
.ff7 {
  background-color: #282880;
  box-shadow: 0 0 0 1px #c8e0e0,
    0 0 0 2px #808080,
    0 0 0 3px #283030,
    inset 0 0 0 1px #303088;
  border-radius: 5px;
  padding: 5px;
}
.ff7-black {
  background-color: #000;
  box-shadow: 0 0 0 1px #c8e0e0,
    0 0 0 2px #808080,
    0 0 0 3px #283030,
    inset 0 0 0 1px #303088;
  border-radius: 5px;
  padding: 5px;
}
.inv-slots {
	width:128px;
}
.rpgui-icon {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.rpgui-icon.empty-slot {
    background-image: url(../img/common/empty-slot.png);
}
#container {
	width: 992px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    margin-top: -252px;
    left: 50%;
    margin-left: -490px;	
}
#bar-container {
height: 34px;
    top: -2px;
    background-size: 960px;
        position: relative;
    width: 100%;
    z-index: 10;
}
#parchment {
	width: 844px;
    height: 364px;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -422px;
    margin-top: -182px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
}
#createcharacter {
	color: #f8f8f8;
}
.startgame {
	cursor: pointer;
	cursor: hand;
}
/** CANVAS */
canvas {
	position:absolute;
	image-rendering:optimizeSpeed;
}
/* remove cursor from canvas after game starts. */
.started #canvas {
    cursor: none;
}
#canvas {
	width: 100%;
    height: 448px;
}
#background, #foreground {
	margin:0; padding:0;
}
#foreground {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
